.bg_search_bar {
    width: 100%;
    height: 100vh;
}
.open-settings-btn {
    position: absolute;
    top: 41px;
    right: 25px;
}
.div_search_bar {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(0px, 659px, 100%);
    text-align: center;
}
.logo {
    height: 92px;
}
.title {
    font-size: 92px;
    font-weight: bold;
    width: 40%;
    background: -webkit-linear-gradient(#03d781, #3edce2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search_bar {
    display: flex;
    margin-top: 10px;
}
.search_button {
    width: 8%;
    height: 52px;
    right: -10px;
    left: unset;
    border: none;
    border-radius: 30px 0 0 30px;
    position: relative;
    cursor: pointer;
}
.search_button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.24);
    border-radius: 30px 0 0 30px;
    -webkit-clip-path: inset(-5px 10px -5px -5px);
    clip-path: inset(-5px 0 -5px -5px);
}
.search_button::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    left: unset;
    height: 50%;
    border-right: 1.2px solid #25dab9;
}
.search_box {
    height: 52px;
    width: calc(92% - 30px);
    min-width: 200px;
    max-width: clamp(1px, 675px, 90vw);
    border: none;
    border-radius: 0 30px 30px 0;
    border-left: unset !important;
    padding-left: 20px;
    padding-right: 53px;
    margin-left: 9.5px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
}
.btn_del_query {
    width: 20px;
    height: auto;
    padding: 5px;
    margin-left: -43px;
    margin-right: 15px;
    background: none;
    border: none;
    z-index: 1;
    cursor: pointer;
}
.btn_del_query img {
    width: 100%;
    height: 100%;
    filter: opacity(0.7);
}
