* {
    transition: all 0s ease-in-out;
}

.tree-btn img {
    width: 30px;
    height: 30px;
}

.tree-btn p {
    font-weight: bold;
}

.landSearchBar {
    margin: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -125px);
    z-index: 10;
    width: clamp(0px, 659px, 100%);
    text-align: center;
}

#LandSLogo {
    height: 48px;
    width: 25.65px;
}

.LandSTitle {
    font-size: 44px;
    font-weight: bold;
    width: 40%;
    background: -webkit-linear-gradient(#03D781, #3EDCE2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.searchBarMain {
    margin-top: 10px;
    display: flex;
}

.searchButton {
    border: none;
    width: 8%;
    height: 45px;
    right: -10px;
    left: unset;
    border-right: none !important;
    border-radius: 30px 0 0 30px;
}

.searchIcon {
    width: 13px;
    height: 13px;
}

.searchBox {
    height: 45px;
    width: calc(92% - 30px);
    border: none;
    padding-left: 20px;
    margin-left: 9.5px;
    min-width: 200px;
    border-radius: 0 30px 30px 0;
    border-left: unset !important;
}

.delQueryBtn {
    width: 20px;
    height: auto;
    margin-left: -43px;
}

.delQueryIcon {
    filter: opacity(0.7);
    width: 100%;
    height: 100%;
}

.autocom-box {
    margin-top: 290px;
    width: 95.5%;
    min-width: 200px;
    position: absolute;
    margin-left: 9px;
    margin-top: 0;
    border-radius: 0 0 20px 20px;
    box-shadow: unset;
}

.shortcutBtn {
    text-decoration: none;
    color: black;
}

.DelShortcut {
    background-color: red;
    margin-bottom: 20px;
    cursor: pointer;
}

.shortcutElemenet {
    border-radius: 10000px;
    font-size: 18px;
    margin: 0 12px 0 12px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.addShortcut {
    display: none;
    position: fixed;
    background-color: #f2f4f7;
    padding: 10px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    flex-direction: column;
}

.addShortcut:hover {
    display: flex;
}

#addShortcutBtn {
    border: #0000;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}

#addShortcutBtn:focus~.addShortcut {
    display: flex;
}

.shortcutForm input {
    margin: 5px;
    border: none;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.shortcutEditBtn {
    background: none;
    border: none;
    top: 5px;
    font-size: 13px;
    border-radius: 0;
    position: relative;
    left: 30px;
    cursor: pointer;
    margin: 5px 15px 0 15px;
    width: 20px;
}

.shortcutEditForm {
    display: none;
    position: fixed;
    background-color: #f2f4f7;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.shortcutForm:hover {
    display: flex;
}

.shortcutElemenet img {
    width: 100%;
    height: 100%;
}

.floatAnim {
    animation: lessfloat 4s ease-in-out infinite;
}

@keyframes lessfloat {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-7px);
    }

    100% {
        transform: translatey(0px);
    }
}

.comparison {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 40px;
    margin-bottom: 40px;
    margin-bottom: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    text-align: center;
}

.comparison-table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.75rem;
    margin-bottom: -1px;
    margin-left: auto;
    width: 100%;
    min-width: 1200px;
    margin-right: auto;
    font-size: 1rem;
}

.comparison-table th:nth-child(2n),
.comparison-table td:nth-child(2n) {
    background: white;
}

.comparison-table th {
    padding: 1.5rem 2rem;
}

.comparison-table td {
    border-top: 1px solid #ddd;
    padding: 1.5rem 2rem;
}

.comparison-table img {
    height: 35px;
    width: 100%;
}

.tosdr td {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.followup {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 40px;
}

.question {
    position: relative;
    background: #f9f9f9;
    margin: auto;
    padding: 10px 50px 10px 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;
    line-height: 50px;
    border-radius: 16px;
}

.plus {
    position: absolute;
    right: 20px;
    margin-top: 20px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    overflow: hidden;
}

.answers {
    padding: 0px 15px;
    margin: 5px 0;
    width: 100% !important;
    height: 0;
    word-wrap: break-word;
    opacity: 0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.questions:checked~.question {
    border-radius: 16px 16px 0px 0px;
}

.questions:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.questions:checked~.answers {
    height: auto;
    opacity: 1;
    padding: 15px;
}

#scroll {
    margin-left: 100px;
}

@media (max-width: 890px) {
    .autocomplete {
        margin-top: -80px;
    }

    .delQueryBtn {
        top: unset;
        right: 10px;
        position: relative;
    }

    .searchBox{
        margin-left: unset !important;
    }
    .searchButton {
        right: unset !important;
        width: 10% !important;
        margin-left: 10px;
    }

    #scroll {
        text-align: center;
        margin-left: 0;
        margin-top: 100px;
        display: block;
    }

    #scroll li {
        font-size: 14px;
        list-style-type: none;
    }

    .comparison {
        margin: 10px;
    }

    .followup {
        margin: 30px 10px 30px 10px;
    }
    .shortcuts{
        padding: 0 10vw 0 10vw;
    }
}

.menu-btn {
    position: absolute !important;
    top: 14px !important;
}

.searchButton::after {
    right: 0px;
    left: unset;
}
.searchButton::before {
    -webkit-clip-path: inset(-5px 0px -5px -5px);
    clip-path: inset(-5px 0px -5px -5px);
  }
.shortcutEditBtn:focus~.shortcutEditForm {
    display: flex;
}

.landBG {
    height: 97vh;
    width: auto;
    background-image: url('/View/img/wbg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mainSpace {
    width: auto;
    height: 111px;
}

.borderLoading {
    background: #00000005;
}

.borderLoading::before {
    content: '';
    position: absolute;
    background: linear-gradient(#00ccff, #d400d4);
    height: 100%;
    width: 50%;
}

.landingApple {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}