html,
.copyQuery {
  background-color: #f2f4f7;
  color: black;
}

.settingButton {
  color: #4b4b4b;
}

.snippet {
  color: #616366;
}

.answer {
  background-color: rgb(234, 234, 242);
}

.weatherBtnActive {
  box-shadow: rgb(233, 233, 237) -4px -2px 8px, rgba(149, 162, 211, 0.8) 4px 2px 8px;
}

.topbg {
  background-color: rgb(234, 234, 242);
}

.whiteAblackBg {
  background-color: white;
}

.borderWB {
  border: solid black;
}

.lightShadow {
  box-shadow: 0 0 10px 0px lightgray;
}

#addShortcutBtn {
  background-color: #eee;
}

.addShortcut {
  border: solid 10px #f2f4f7;
}

.share-icon-border {
  filter: brightness(0) invert(0);
}

.quickSet {
  color: #6a6a6a;
  background-color: #f2f4f7;
}

.autocom-box {
  background-color: white;
  color: black;
}

.peopleAskDiv {
  background-color: #f1f4ff;
}
.lds-ellipsis div{
  background-color: black;
}
#sidebar {
  background-color: var(--sidebar-bg-color-light);
  color: black;
}

.sidebarTitle {
  background-color: #fff;
  color: black;
  box-shadow: 0 5px 5px #ece9e9;
}

.setGroup,
.showtime {
  background-color: white;
}

.themeMenu,
.setBtn {
  background-color: #e9e9ed;
}

.bigimgout {
  background-color: var(--sidebar-bg-color-light);
  color: black;
}

.setChooseChecked {
  box-shadow: -4px -2px 8px #e9e9ed, 4px 2px 8px rgba(149, 162, 211, 0.8);
}

.suggestion:hover {
  background-color: #e2e3ea;
}

.active {
  background-color: #e2e3ea;
}

.tree-btn p {
  color: #616366;
}

.relBtn {
  background-color: #f1f4ff;
  color: black;
}

.sectionTitle {
  color: black;
}

.tree-container {
  background-color: #fafbff;
}

.tree-containerMobile {
  background-color: #fafbff;
}

.feedback {
  background-color: #fafbff;
}

.imgtoolsOption {
  color: #6a6a6a;
  background-color: #f2f4f7;
}

.imgoutlink {
  color: black;
}

.findelsewhere button {
  background-color: white;
}

.nextPage button {
  background-color: white;
}

.videossearch {
  background-color: #f7f8fc;
}

.bgStripes {
  background: repeating-linear-gradient(315deg, #FFFFFF, #ffffff 50px, #edeff7 50px, #edeff7 100px)
}

.box-shadow-main {
  box-shadow: inset 0 0 40px 5px #c7c7c7;
}

.tosdr td:nth-child(1) {
  background-image: url(../View/img/tosdr_black.svg);
}

.landingApple {
  background-image: url(../View/img/priMac.webp);

  @media (max-width: 890px) {
    background-image: url(../View/img/priIp.webp);
  }
}

.headerPriEco {
  background-image: url(../View/img/web/tutorials/default/priecoBanner.webp);
}

.footer-content-left a {
  background-color: white;
}