/*Mobile*/
@media (max-width: 890px) {
  /* Universal */
  .paddingL20PBoth {
    padding-left: unset;
  }

  .paddingR20PBoth {
    padding-right: unset;
  }

  /*TopBar*/
  .topbg {
    position: absolute;
    padding-bottom: 2px;
    height: 135px;
  }

  .searchM {
    display: flex;
    position: absolute;
    justify-content: center;
    height: 50px;
    width: 100vw;
    left: 0;
    top: 45px;
    margin-left: 0;
  }

  .sLogo {
    position: absolute;
    width: 50px;
    height: 45px;
    left: 0;
    right: 0;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .scrollLogo {
    display: none;
  }

  .sLogoA {
    justify-content: center;
    display: flex;
  }

  .delQueryBtn {
    position: absolute;
    top: 13px;
    right: 27px;
    margin-right: 0;
  }

  .searchBar {
    align-items: unset;
    width: 100%;
  }

  .searchBox {
    width: calc(100% - 40px);
    max-width: unset;
    height: 45px;
    pointer-events: auto;
    padding-right: 50px;
    margin-right: 10px;
  }

  .searchButton {
    height: 45px;
    width: 40px;
    pointer-events: auto;
  }

  .autocom-box {
    width: calc(100% - 20px);
    position: absolute;
    pointer-events: auto;
  }

  .autoboxMain {
    margin-top: 310px;
  }

  .scrollSearchBackground {
    display: none;
  }

  .settingButtons {
    margin-top: 99px !important;
    padding: 0 3px 3px 0;
    margin-left: 10px;
    width: 95%;
    position: absolute;
  }

  @-moz-document url-prefix() {
    .settingButtons {
      margin-top: 100px !important;
    }
  }

  .settingButton {
    margin-left: 10px;
    font-size: 16px;
  }

  .setButStyle {
    margin: 0 auto;
  }

  .mobile-visible {
    visibility: visible;
  }

  .topspace {
    margin-top: 160px;
  }

  .labelforcheckquick {
    margin-left: 10px;
    margin-right: 10px;
  }

  #my-kp-container {
    height: 100px;
  }

  #moreMoreCheck:checked ~ #my-kp-container {
    height: 100%;
  }

  .moreMoreCheck {
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: #00000007;
    padding: 3px;
    border-radius: 20px;
    cursor: pointer;
  }

  .quickSettingButtons {
    top: 155px;
  }

  @keyframes showquicksettings {
    0% {
      display: none;
      top: 0;
    }

    50% {
      top: 0;
    }

    100% {
      display: block;
      top: 155px;
    }
  }

  .wrapper {
    top: 0;
    right: 0px;
  }

  .menu-btn {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .tree-btn {
    top: 9px;
    left: 10px;
    right: unset;
  }

  /*Output*/
  .output {
    width: 96vw;
    margin-left: 2vw;
    padding-top: 18px;
  }

  .imgtools {
    padding-left: 0vw;
    width: 100vw;
    max-width: 100vw;
  }

  .imgContainer {
    gap: 8px;
    padding: unset;
  }
  .imgout {
    max-width: 100%;
    width: unset;
  }

  .imgoutbtn {
    justify-content: center;
    display: flex;
  }

  .imgoutdiv {
    flex: 1 1 45%;
    max-width: unset;
    min-width: unset;
    height: unset;
    padding: 10px;
  }

  .bigimgout {
    width: 100vw;
    margin-right: unset;
  }

  .bigimgclose {
    display: block;
  }

  .answer {
    clear: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 96vw;
    position: static;
    margin-left: 2vw;
  }
  .ml-80D {
    margin-left: unset !important;
  }
  .hQuery {
    margin-top: 0px;
  }

  .addonImgOut {
    margin-right: 40px !important;
  }

  .findelsewhere {
    margin-left: 0;
  }

  .findelsewhere button {
    margin-top: 0;
  }

  .nextPage {
    margin-left: 0 !important;
    float: right;
  }

  #halfCalculator1,
  #halfCalculator2 {
    width: 100%;
  }

  #halfCalculator2 {
    display: none;
  }

  #calcFx:checked ~ #halfCalculator2 {
    display: block;
  }

  #calcFx:checked ~ #halfCalculator1 {
    display: none;
  }

  .calcMobile {
    display: block;
  }

  #sumResOut {
    font-size: 12px;
  }

  .resOptionsGroup {
    opacity: 1;
  }

  /*other*/
  .share-container {
    display: none;
  }

  .topImgCon {
    flex-wrap: nowrap;
  }

  .topImgCon img {
    height: 250px;
    width: auto;
    overflow: unset;
  }

  #sidebar {
    position: fixed;
    height: 101vh;
    width: 100vw;
    right: -110vw;
    transition: all 0.3s ease;
    z-index: 999;
  }

  .notifications {
    width: 100vw;
    right: 0;
    box-shadow: 0 0 3px 3px #00000007;
    height: 100vh !important;
    max-height: unset !important;
    top: 110vh;
    position: fixed;
    transition: all 0.3s ease;
    display: block;
  }

  .notifications div {
    max-width: unset;
  }

  .notifications p {
    font-size: 12px;
  }

  .notifications img {
    width: 50px;
  }

  .analyticsBtn {
    font-size: 8px;
  }

  .notifications label {
    display: block;
  }

  .notificationCheckbox:checked ~ .notifications {
    top: 20%;
  }

  .bigLyricsTitle {
    width: calc(100% - 12px);
  }
  .lyricsArtist {
    max-width: 95%;
    margin-left: unset;
  }
  .lyricsTxt {
    width: unset;
    margin-right: unset;
    padding-right: 20px;
  }

  .mflexCR {
    flex-direction: column-reverse;
  }
  .mobile_top80P {
    top: 80% !important;
  }
  .mobile_width100P {
    width: 100% !important;
  }

  .notifications div {
    margin: 10px 0 10px 0;
  }

  .showtime {
    bottom: 0;
    top: unset;
    border-radius: var(--result-curve) var(--result-curve) 0 0;
    width: 100vw;
  }

  .footer {
    margin: 70px 10px 0 10px;
  }

  .footer-content-right {
    border-radius: 20px !important;
    margin: 20px 20px 20px 0 !important;
    overflow: hidden;
  }

  .footer div {
    margin: 0;
    min-width: 10px;
    flex: 1;
    flex-basis: 100%;
    border-radius: 0;
  }
}
