/* SPDX-FileCopyrightText: 2022, 2022-2022 Roman LÃ¡ncoÅ¡ <jojoyou@jojoyou.org> */
/* */
/* SPDX-License-Identifier: AGPL-3.0-or-laterÂ */
.weatherChart::-webkit-scrollbar,
.weatherForecastList::-webkit-scrollbar {
    background-color: transparent;
}

.weatherRadio:checked~.weatherChart {
    visibility: visible !important;
    height: 220px;
}

.rnInp {
    background: #0001;
    border: none;
    padding: 10px;
    margin: 3px;
    font-size: 22px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

/*Top Bar*/
.sLogo {
    height: 65px;
    color: #0ed794;
    text-decoration: none;
    font-size: 60px;
}

.searchM {
    display: flex;
    flex-direction: column;
    z-index: 11;
    width: 80vw;
    margin-left: 20px;
}

.topbg {
    position: fixed;
    width: 100%;
    height: 99px;
    z-index: 10;
    backdrop-filter: blur(20px);
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    padding: 20px 30px 10px 50px;
    box-shadow: 0 1px 3px rgba(23, 23, 23, 0.1);
}

.searchBox {
    height: 40px;
    width: 552px;
    max-width: clamp(1px, 675px, 90vw);
    border-width: 0px;
    background-color: white;
    color: #000000;
    border-style: solid;
    border-radius: 0 30px 30px 0;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 53px;
    outline: none;
    box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
}

.searchButton {
    border-radius: 30px 0 0 30px;
    height: 40px;
    width: 50px;
    position: relative;
    left: 10px;
    background-color: white;
    color: #000000;
    cursor: pointer;
    border: none;
}

.searchButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.24);
    border-radius: 30px 0 0 30px;
    -webkit-clip-path: inset(-5px 10px -5px -5px);
    clip-path: inset(-5px 10px -5px -5px);
}

.searchButton::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    border-right: 1.2px solid #25dab9;
}

.hasSuggestions {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.hasSuggestions::before {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.delQueryBtn {
    z-index: 1;
    margin-left: -33px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 15px;
}

.autocom-box {
    width: clamp(1px, 592px, 90vw);
    border-radius: 0 0 var(--result-curve) var(--result-curve);
    list-style-type: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: hidden;
    position: fixed;
    margin-left: 10px;
}

.suggestion {
    cursor: pointer;
    height: 30px;
    padding-left: 2%;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: start;
    display: flex;
    align-items: center;
}

.suggestion img {
    width: 16px;
    margin-right: 10px;
    height: auto;
}

.sugImg {
    width: auto;
    height: 60px;
    border-radius: 10px;
    max-width: 100px;
    filter: unset;
}

.settingBtnsActive img{
    filter: invert(56%) sepia(24%) saturate(1094%) hue-rotate(133deg) brightness(97%) contrast(84%);
}

.settingButtons {
    display: flex;
    overflow-x: auto;
    align-items: center;
    margin-bottom: 5px;
    overflow-y: hidden;
    align-items: flex-end;
}

.shortcuts {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.shortcutForm {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 5px #0002;
}

.feedbackMenuLabel {
    margin-left: 10px;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.feedbackMenuLabel img {
    width: 13px;
    height: 13px;
}

.feedback {
    display: none;
    margin-left: 9vw;
    position: absolute;
    width: auto;
    max-width: 100vw;
    height: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    padding: 10px;
    margin-right: 9vw;
}

#feedbackMenu:checked~.feedback {
    display: block;
}

.quickSet {
    border: solid 1px grey;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 3px;
    width: 130px;
}

.quickSettingButtons {
    display: none;
    position: absolute;
    top: 135px;
    width: 100%;
    overflow-x: auto;
}

.quickSettingsSpace {
    display: none;
    height: 0;
    width: auto;
}

#threedotsquick:checked~.quickSettingButtons {
    animation: showquicksettings 0.4s;
    display: flex;
}

#threedotsquick:checked~.quickSettingsSpace {
    animation: showquickspace 0.2s;
    display: block;
    height: 40px;
}

@keyframes showquickspace {
    0% {
        height: 0;
    }

    100% {
        height: 40px;
    }
}

@keyframes showquicksettings {
    0% {
        display: none;
        top: 0;
    }

    50% {
        top: 0;
    }

    100% {
        display: block;
        top: 135px;
    }
}

.topspace {
    margin-top: 120px;
}

.labelforcheckquick {
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.labelforcheckquick img {
    width: 13px;
    height: 13px;
}

.analytics {
    backdrop-filter: blur(5px);
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    right: 20px;
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    left: 20px;
    min-width: 300px;
    border: solid 1px gray;
    animation: slide-up 2s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@keyframes slide-up {
    0% {
        bottom: -500px;
    }

    90% {
        bottom: -500px;
    }

    100% {
        bottom: 20px;
    }
}

.revertLocLang {
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: var(--result-curve) var(--result-curve) 0 0;
    justify-content: center;
    background-color: var(--topColor);
    display: flex;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    width: 100vw;
}

.revertLocLang input {
    cursor: pointer;
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 16px;
}

/*Show time*/
.showtime {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-radius: var(--result-curve) 0 0 0;
    z-index: 5;
}

/*Output*/
.output {
    width: clamp(552px, 675px, 90vw);
    clear: left;
    float: left;
    padding: 10px 0 15px 8px;
    margin-left: 9vw;
    position: relative;
    min-height: 96px;
}

.cBorderTop2 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.output,
h4 {
    font-size: 18px;
}

.output a {
    color: var(--linkColor);
    text-decoration: none;
}

.output a::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: var(--linkColor);
    transition: 300ms;
}

.output a:hover::after {
    width: 20%;
    margin-left: 29px;
}

.output .Outfavicon {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    border-radius: 5px;
}

.OutTitle {
    width: calc(100% - 58px);
    margin-left: 29px;
    font-weight: normal;
    font-size: 20px;
    line-height: 21.6px;
}

.resLink {
    font-weight: bold;
    color: #9c9eaa;
    font-size: 10px;
    width: calc(100% - 58px);
    overflow-x: hidden;
    margin-left: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resOptionsGroup {
    opacity: 0;
    display: flex;
    transition: all 0.5s ease-in-out;
    flex-direction: column;
    position: absolute;
    margin-top: 25px;
    width: 20px;
    align-items: center;
}

.resOptionsGroup:hover,
.output:hover .resOptionsGroup {
    opacity: 1;
    display: flex;
    border-radius: 10px;
}

.snippet {
    font-size: 13.3px;
    width: calc(100% - 58px);
    margin-left: 29px;
    height: auto;
    float: left;
    clear: left;
    line-height: 21px;
    overflow: hidden;
    transition: all 0s ease-in-out;
}

.outputTab {
    margin-left: 29px;
    font-size: 13px;
    float: left;
}

.resProvider {
    color: grey;
    float: right;
    clear: right;
    margin-right: 10px;
    padding-bottom: 3px;
    font-size: 10px;
}

.blueIcon {
    filter: brightness(0) saturate(100%) invert(40%) sepia(44%) saturate(1424%) hue-rotate(182deg) brightness(103%) contrast(86%);
}

.sumOpen {
    padding: 0 8px 0 8px;
    cursor: pointer;
    width: 35px;
    height: auto;
    opacity: 0.5;
}

.sumOpen::after {
    background: unset;
}

#sumImgs {
    display: flex;
    overflow: auto hidden;
}

#sumImgs img {
    width: 100px;
    height: 100px;
}

#sumResOut {
    display: none;
    padding: 5px;
    border-left: 3px solid #ccc;
    padding-left: 15px;
    margin-left: 11px;
}

.typeAnim {
    animation-name: typing;
    animation-duration: 3s;
}

@keyframes typing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.OutSideImg {
    width: 92px;
    height: 92px;
    float: right;
    clear: right;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
}

.addonOut {
    border-radius: 20px;
    margin-bottom: 15px;
    background: none !important;
    display: flex;
    overflow: auto hidden;
    height: 300px;
    scroll-snap-type: x mandatory;
}

.addonImgOut {
    width: auto !important;
    min-width: unset;
    margin-right: 10px;
    padding: 0 !important;
    max-width: unset !important;
    scroll-snap-align: start;
}

.addonScroll {
    display: flex;
    align-items: center;
    padding: 3px;
    flex-direction: row;
    justify-content: space-between;
}

.addonLogo {
    display: flex;
    align-items: center;
}

.addonLogo img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.addonLogo p {
    font-size: 10px;
}

.addonDesc {
    font-size: 12px !important;
    padding: 0 5px 0px 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-height: 14px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: unset !important;
}

.addonArrow {
    display: block !important;
    cursor: pointer;
    width: 100px !important;
    height: 100px !important;
    margin-top: 75px !important;
    border-radius: 2000px !important;
}

.addonArrow img {
    width: 100%;
    height: 100%;
    padding: 30%;
}

.topInfoBox {
    width: calc(675px + 2vw + 350.25px);
}

.topInfoImgBox {
    display: flex;
    min-width: 330px;
    width: auto;
    height: 235px;
}

.topInfoImgBox div {
    width: 100%;
    overflow: hidden;
}

.topInfoImgBox div img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease-in-out;
}

.topInfoImgBox img {
    height: 100%;
}

.topInfoImgBox div img:hover {
    transform: scale(1.1);
}

.topInfoTextBox {
    background-color: red;
}

.sectionTitle {
    float: left;
    clear: left;
    margin-left: calc(9vw + 20px);
    margin-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

.adTitle {
    font-size: 12px;
    clear: unset;
    margin-left: 10px;
    margin-top: 17px;
}

.redditCon {
    border-radius: var(--result-curve);
    margin-bottom: 15px;
}

.redElement {
    width: 100%;
    max-height: 110px;
    padding: 0 0 20px 0;
    overflow: hidden;
}

.redElement section {
    color: #747684;
    font-size: 12px;
    width: calc(100% - 132px);
    margin-left: 30px;
}

.relSea {
    display: flex;
    flex-wrap: wrap;
}

.relSea a {
    margin: 5px;
    width: calc(50% - 10px);
}

.relImg {
    position: absolute;
    max-height: 80%;
    max-width: 150px;
    border-radius: 20px;
    right: 10px;
}

.relBtn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    text-decoration: none;
    border-radius: 50px;
}

.relBtn p {
    font-size: 16px;
    margin-left: 5%;
}

.relBtn img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.redirectMe {
    border: none;
    background-color: #0002;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
}

.quickAnswer {
    background-color: rgb(234, 234, 242);
    border-radius: 10px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: unset !important;
}

.quickAnswer b {
    font-weight: normal;
    background-color: #c7ceee;
    padding: 0 3px 0 3px;
    border-radius: 5px;
}

.answerHide,
.goBackMap {
    display: none;
}

.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
}

.lds-ellipsis div {
    position: absolute;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

.peopleAskLabel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    user-select: none;
}

.peopleAskP {
    display: none;
    margin-top: 10px;
    font-size: 16px;
}

.peopleAsk:checked~.peopleAskP {
    display: block;
}

.peopleAskIcon {
    transition: all 0.4s ease-in-out;
}

.peopleAsk:checked+label .peopleAskIcon {
    transform: rotate(180deg);
}

.peopleAskDiv {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.queryRedirect {
    border-radius: 20px;
    border: solid 3px green;
    margin-bottom: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.calculator input {
    width: 100%;
    border: none;
    background-color: #f2f4f7;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #000a;
    height: 50px;
    margin-bottom: 5px;
}

.halfCalculator {
    float: left;
    margin-bottom: 15px;
}

#halfCalculator1 {
    width: 66%;
}

#halfCalculator2 {
    width: 33%;
}

.halfCalculator div {
    display: flex;
}

.calculator label {
    border: solid 2px #0005;
    padding: 4px;
}

.calcMobile {
    display: none;
}

.jsLoading {
    animation: jsLoad 2s infinite;
}

@keyframes jsLoad {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.display #screen {
    margin-bottom: 0.5em;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    width: 98%;
    padding-right: 0.5em;
    background: #ecf0f3;
    border-radius: 20px;
}

.calculator button {
    width: 100%;
    margin: 2px;
    padding: 5px;
    font-size: 16px;
    background-color: #0001;
    border: none;
    border-radius: var(--result-curve);
    height: 40px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #0003;
    transition: all 0.1s ease-in-out;
}

.calculator button:active {
    background-color: #0003;
}

.col {
    padding: 5px;
    border-radius: 20px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.colTit {
    color: #999f;
    user-select: none;
}

.IroHandle,
#colorOutput {
    transition: all 0s ease-in-out;
}

#conTopic {
    width: 100%;
    border: none;
    background-color: #f2f4f7;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #000a;
}

.convert {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    margin: 10px;
}

.convert input {
    border: none;
    background-color: #d1d3d5;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #000a;
}

.convert select {
    border: none;
    background-color: #d1d3d5;
    border-radius: 0 0 20px 20px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #000a;
}

.weatherCsetting {
    background: none;
    border-radius: 20px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
}

.weatherForecastList {
    display: flex;
    overflow: auto hidden;
    justify-content: space-between;
}

.weatherForecastList label {
    width: auto;
    height: auto;
    background-image: linear-gradient(180deg, #cbce1e22, #0000);
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.weatherForecastList label div {
    font-size: 14px;
    display: flex;
}

.weatherChart {
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;
    visibility: hidden;
    height: 0;
}

.ipInfo {
    font-size: 16px;
}

/* Remove Braves path */
.netloc {
    display: none;
}

.url-path {
    display: none;
}

.nextPage {
    float: left;
    clear: left;
}

.nextPage button {
    border: solid 2px lightgray;
    padding: 10px;
    border-radius: 20px;
    float: left;
    cursor: pointer;
    font-weight: normal;
    margin-top: 10px;
}

/*END*/
.ytvideobtn {
    cursor: pointer;
    border: none;
    width: 220px;
    height: 140px;
    border-radius: var(--result-curve) var(--result-curve) 0 0;
    background-color: #0002;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.ytvideobtn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    transition: all 0.3s ease-in-out;
}

.ytvideobtn img:hover {
    width: 120%;
    margin-left: -10%;
}

.ytTitle {
    font-size: 14px !important;
    line-height: 16.8px;
    font-weight: 510;
    padding-top: 5px;
    padding-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 5px 4px 10px 4px;
    overflow: hidden;
    white-space: unset !important;
}

.videoBtn {
    background-color: var(--result-bg) !important;
    border-radius: 20px;
    height: auto !important;
}

.shopout {
    width: 230px;
    height: 230px;
    background-color: #00000007;
}

.twi {
    transition: 0.5s;
}

.twi:hover {
    border-left: 5px solid #8080ff;
}

.news-item {
    width: 30%;
    float: left;
    border-radius: 10px;
    margin-left: 15px;
    border: none;
    box-shadow: 0 0 0px 5px #dfdfdf;
}

.news-item img {
    width: 100%;
    border-radius: 10px;
}

.news-item h2 {
    font-size: 16px;
}

.news-item p {
    font-size: 14px;
}

.newsTitle {
    font-size: 16px;
}

.newsSnippet {
    font-size: 12px;
    padding-bottom: 18px;
}

.newsFavicon {
    margin-top: unset;
}

.answer {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    margin-left: calc(11vw + clamp(552px, 675px, 90vw));
    font-size: 14px;
    border: 1px solid #ddd;
}

.answer h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.wikiImages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wikiImages img {
    border-radius: 10px;
    max-height: 174px;
    height: 100%;
    width: 100%;
    min-height: 50px;
    object-fit: cover;
}

.wikiImages div img {
    max-height: 87px;
}

.wikiImages div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 10px;
    width: 50%;
}

.wikiMore {
    width: 100%;
    height: auto;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    border-left: 1px solid var(--topColor);
}

#wikiMoreCheck:checked~.wikiMore {
    max-height: 1000px;
}

.moreMoreCheck {
    display: none;
}

#my-kp-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #00000007;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

.hQuery {
    top: calc(100% + 20px);
    margin-left: -30px !important;
}

.copyQuery {
    border-radius: 20px;
    border: none;
    word-wrap: break-word;
    padding: 10px;
}

.socialBtn {
    background: none;
    border: none;
    padding: 3px;
    border-radius: 20px;
    margin: 2px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.profileIcon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    display: inline;
}

.socialBtn div {
    display: flex;
}

.socialBtn p {
    display: inline;
    font-size: 14px;
}

.resTopImgs {
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 20px;
}

.resTopImgs p{
    color: #5b5b5b;
}

.resTopImgs span,
.redditCon span, .expandLines {
    flex: 1;
    height: 1px;
    background-color: #ddd;
    margin: 10px;
}

.topImgCon {
    width: 80vw;
    height: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.topImgCon img {
    width: calc(25% - 15px);
    height: calc(50% - 10px);
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}

#topImgConBtn:checked~.topImgCon {
    height: 250px;
}

#lyrics{
  max-height: 350px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

#lyricsBtn:checked~#lyrics{
  max-height: 20000px;
}

#topImgConBtn:checked~#topImgConBtnExp,
#topImgConBtn:not(:checked)~#topImgConBtnMin,
#redOpener:checked~#redExp,
#redOpener:not(:checked)~#redMin,
.expandBtn:checked~#expandExpand,
.expandBtn:not(:checked)~#expandMinimize{
    display: none;
}

.lyricsMenu{
  background: #d4d8ea;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  margin: 10px 20px 10px 0;
  font-size: 16px;
}
.bigLyrics{
  background-color: var(--result-bg);
  position: fixed;
  top: 150vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}
.bgBigLyrics{
  object-fit: cover;
  filter: blur(50px);
  opacity: 0.5;
}
.bigLyricsTitle{
  display: flex;
  position: relative;
  background-color: #0003;
  padding: 10px;
  top: 5px;
  left: 5px;
  border-radius: 20px;
  align-items: center;
  width: fit-content;
}

.bigLyricsBtn:checked~.bigLyrics{
  top: 0;
}

.albumCover{
  height: 150px;
  border: solid 10px #888e;
  border-radius: 20px 20px 0 0;
}

.albumTxt{
  background-color: #888e;
  position: relative;
  top: -5px;
  border-radius: 0 0 20px 20px;
  padding: 10px;
}

.lyricsArtist{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: 100px;
}
@media (min-width: 1140px) {
    .lyricsArtist {
        margin-left: 200px;
    }
}

.lyricsBox{
  display: none;
}
.lyricsRadio:checked~.lyricsBox{
  display: block;
}
.lyricsTxt{
  width: 30%;
  margin-right: 50px;
}
.findelsewhere {
    float: left;
    clear: left;
    margin-left: calc(9vw - 2%);
    padding: 3%;
}

.findelsewhere div {
    min-width: 340px;
    float: left;
}

.findelsewhere button {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: -10px;
    border-radius: 20px;
    margin-left: 5px;
    cursor: pointer;
    float: left;
    font-weight: normal;
}

/*Image Output */
.imgtools {
    padding-left: 9vw;
    width: calc(9vw + clamp(1px, 675px, 90vw));
    max-width: calc(9vw + 620px);
    float: left;
}

.imgtoolsOption {
    border: solid 1px grey;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px;
    max-width: 8vw;
    min-width: 80px;
    margin: 3px;
}

.imgPixa {
    margin-top: 5px;
    margin-bottom: 10px;
}

.imgSave {
    float: right;
    background-color: var(--topColor) !important;
    color: white !important;
    border: none;
}

.imgGoogle {
    width: 45px;
    height: 45px;
    margin-left: 2vw;
    background-color: #0001;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #0002;
}

.imgContainer {
    justify-content: center;
    width: 100vw;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    padding-top: 10px;
}

.imgoutdiv {
    text-align: center;
    transition: all 0s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;
    position: relative;
    max-width: 15%;
}

.imgoutdiv p {
    font-size: 12px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.imgout {
    height: 200px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    display: block;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
}

.mobile-visible {
    visibility: hidden;
}

.imgout:hover {
    box-shadow: 0 0 5px 5px #7773;
    transform: scale(1.1);
    z-index: 1;
}

.imgoutTxt {
    position: absolute;
    bottom: 5px;
    background-color: #00000077;
    border-radius: 25px;
    display: flex;
    padding: 5px;
    left: 5px;
    padding-right: 7px;
    z-index: 2;
    max-width: 80%;
    align-items: center;
}

.imgoutbtn {
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    min-width: 100px;
    height: calc(90% - 45px);
}

.imgoutbtn:focus~.bigimgout {
    right: 0;
}

.imgoutlink {
    color: black;
    width: 90%;
}

.bigimgout {
    transition: all 0.45s ease-in-out;
    width: 25vw;
    height: 100vh;
    min-width: 300px;
    position: fixed;
    top: 0;
    z-index: 15;
    right: -110vw;
    backdrop-filter: blur(20px);
    border-radius: var(--result-curve);
    margin-right: 20px;
    box-shadow: 0 0 10px 10px #0002;
}

.bigimgout img {
    width: 100%;
    height: auto;
    max-height: 50vh;
    border-radius: var(--result-curve) var(--result-curve) 0 0;
}

.bigimage_loaded {
    filter: blur(0) !important;
}

.bigimgout h3 {
    padding-right: 5%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 5%;
}

.bigimgout p {
    padding-right: 5%;
    padding-left: 5%;
}

.bigimgout .bigimgbtn {
    display: flex;
    justify-content: center;
}

.bigimgout button {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    height: auto;
    width: auto;
    box-shadow: 0 0 5px gray;
}

.bigimgclose {
    margin-top: 25px;
    padding: 10px !important;
    display: none;
}

.imgsidebar {
    height: 100%;
    width: 30vw;
    position: fixed;
    background-color: grey;
    z-index: 99;
    top: 0;
    right: -30vw;
}

/*Video search*/
.videossearch {
    border-radius: 0 0 var(--result-curve) var(--result-curve);
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    padding-top: 5px;
    width: 220px;
    height: 140px;
    text-align: left !important;
}

/*Footer*/
.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-content-left a {
    display: block;
    background-color: #373737;
    border-radius: 15px;
    width: 60px;
    height: 60px;
}

.footer-content-left img {
    padding: 20px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
}

.footer-content-right div {
    max-width: 600px;
    min-width: 400px;
    height: 250px;
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.footer-content-right a {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.analyticsBtn {
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

/*Shopping search*/
.shopSettings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.shopSettings p {
    margin-right: 10px;
}

.shopSettings input {
    width: 100px;
    border: solid 1px gray;
    color: #6a6a6a;
    padding: 5px;
    background-color: #00000007;
    border-radius: 20px;
}

.shopTitle {
    font-size: 16px !important;
    border-bottom: solid 1px;
    margin-bottom: 5px;
    white-space: unset !important;
    padding: 10px;
    height: 50px;
}

.shopPrice {
    text-align: start;
    font-weight: bold;
    font-size: 14px !important;
}

.shopLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.shopLogo img {
    width: 70px;
    height: auto;
    margin-right: 10px;
    border-bottom-left-radius: 20px;
}

/*Setting Sidebar*/
.settingButton {
    font-weight: normal;
    background: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 15px;
    display: flex;
    font-size: 16px;
    padding-right: 1.5px;
    padding-left: 1.5px;
    white-space: nowrap;
    margin-top: 10px;
}

.setBut {
    width: 22px;
    background: -webkit-linear-gradient(green, #00f);
    background: -moz-linear-gradient(green, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 5px;
}

.wrapper {
    position: absolute;
    right: 0;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.menu-btn {
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 12;
    cursor: pointer;
}

.icnSet {
    width: 15px;
    height: 15px;
}

.close-menu-btn {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    padding: 10px;
    right: 20px;
    top: 20px;
    z-index: 2;
}

.wrapper .menu-btn i {
    font-size: 23px;
    transition: all 0.3s ease;
}

.wrapper .menu-btn i.fa-times {
    opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
    opacity: 1;
    transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
    opacity: 0;
    transform: rotate(180deg);
}

.notify section {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--topColor);
    position: relative;
    bottom: 25px;
    left: 10px;
}

.notifications {
    position: fixed;
    display: none;
    z-index: 13;
}

.notifications label {
    display: none;
}

.notificationCheckbox:checked~.notifications {
    display: block;
}

#sidebar {
    position: fixed;
    height: 101vh;
    right: -35vw;
    transition: all 0.3s ease;
    z-index: 999;
    top: -5px;
    width: 20vw;
    min-width: 300px;
    backdrop-filter: blur(20px);
}

#btn:checked~#sidebar {
    right: 0px;
}

.sidebarTitle {
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: var(--result-curve);
    margin: 15px 10px 10px;
    position: absolute;
    width: calc(100% - 20px);
    z-index: 1;
}

.sidebarTitle img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    margin-left: 15px;
}

#openCheckSettings {
    display: none;
    background-color: #00000007;
    border-radius: var(--result-curve);
    padding: 10px;
    width: 100%;
}

#jsSet:checked~#openCheckSettings,
#rankingSet:checked~#openCheckSettings,
#proxySet:checked~#openCheckSettings {
    display: block;
}

.langSave {
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 6px;
}

.themeMenu {
    padding: 10px;
    padding-bottom: 0;
    border-radius: 20px;
}

.themeMenu div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.themeSetText {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    width: calc(100% - 5px);
}

.themeSetText label {
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 33%;
}

#sidebar .list-items {
    width: 100%;
    height: 100%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 50px;
}

.setGroup {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.setListItem {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}

.setListItem h3 {
    border-bottom: solid 2px grey;
    width: 100%;
}

.setListItem select {
    border: none;
    padding: 10px;
    border-radius: 6px;
}

.setSelect {
    border: none;
    padding: 10px;
    border-radius: 6px;
}

#sidebar .list-items li {
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child {
    border-top: none;
}

#sidebar .list-items li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

#sidebar .list-items li a i {
    margin-right: 20px;
}

#sidebar .list-items .icons {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar .list-items .icons a {
    height: 100%;
    width: 40px;
    display: block;
    margin: 0 5px;
    font-size: 18px;
    color: #f2f2f2;
    background: #4a4a4a;
    border-radius: 5px;
    border: 1px solid #383838;
    transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
    background: #404040;
}

.unitTemp {
    transition: all 0s ease-in-out;
    font-size: 25px;
    padding: 5px 6px;
    margin: 5px;
    border-radius: 30px;
    cursor: pointer;
}

.setBtn {
    border: none;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.labCustom,
.showCustomThemeBox {
    display: none !important;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.setCheck:checked+.slider {
    background-color: var(--topColor);
}

.setCheck:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.ContentArea {
    width: 50vw;
    height: 50vh;
    position: absolute;
    z-index: 1;
    top: 25vh;
    left: 25vw;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #575454;
    border-radius: 10px;
    padding-top: 5px;
}

.ribbon a {
    background-color: #e8e8e8;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    padding: 3px;
}

.tab {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 2;
}

.tab-setting {
    padding: 10px;
}

.clearance {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.CustomThemeBox {
    display: none;
    width: 100%;
    height: 0;
    border-radius: 10px;
    border: solid 2px lightgray;
    padding: 3px;
}

.setSlideTheme {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #c6c6ca;
    border-radius: 10px;
    height: 18px;
    width: 100%;
}

.setSlideTheme::-webkit-slider-runnable-track {
    height: 12px;
    -webkit-appearance: none;
    color: none;
    margin-top: -1px;
    background-color: #c6c6ca;
    border-radius: 10px;
}

.setSlideTheme::-webkit-slider-thumb {
    width: 12px;
    -webkit-appearance: none;
    height: 12px;
    cursor: ew-resize;
    background: white;
    border-radius: 10px;
}

.setSlideTheme::-moz-range-progress {
    background-color: none;
}

.setSlideTheme::-moz-range-track {
    background-color: none;
}

.setSlideTheme::-ms-fill-lower {
    background-color: #43e5f7;
}

.setSlideTheme::-ms-fill-upper {
    background-color: #c6c6ca;
    border-radius: 10px;
}

.showCustomThemeBox:checked~.CustomThemeBox {
    display: block;
    animation: showCustomThemeBoxAnim 1s;
    height: 300px;
}

.CustomThemeShow {
    display: block;
    animation: showCustomThemeBoxAnim 1s;
    height: 300px;
}

@keyframes showCustomThemeBoxAnim {
    from {
        height: 0;
    }

    to {
        height: 300px;
    }
}

.mobileBottomBar {
    display: none;
}

@media (min-width: 1140px) {
    .bigimgout:hover {
        right: 0;
    }
}

#tabContainer {
    z-index: 9999999999999;
    transition: all 0.5s ease;
    top: 110vh;
}

#showTabs:checked~#tabContainer {
    top: 0;
}

/* MAP */
.searchBarMap {
    position: absolute;
    z-index: 999;
    left: 100px;
    top: 20px;
}

#search-input {
    width: 350px;
    height: 50px;
}

.searchBarMap button {
    height: 50px !important;
    top: -0.5px !important;
}

.searchBarMap button::before {
    clip-path: inset(-5px 5px -5px -5px);
}

.autocom-boxMap {
    width: 330px;
    margin-left: 60px;
}

#suggestions {
    visibility: hidden;
    width: 350px;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
}

#suggestions:hover {
    background-color: #0001;
}

@media (max-width: 890px) {
    .searchBarMap {
        left: 12%;
        z-index: 99999;
        display: flex;
        top: 5px;
        width: 88%;
    }

    #search-input {
        width: 100%;
        margin-left: 0;
    }

    .searchBarMap button {
        top: 0 !important;
    }

    #suggestions-container {
        margin-left: 12%;
        top: 50px;
        width: 78%;
    }
}

in-left: 12%;
top: 50px;
width: 78%;
}
}
