@media (prefers-color-scheme: light) {
  html,
  .copyQuery {
    background-color: #f2f4f7;
    color: black;
  }

  .settingButton {
    color: #4b4b4b;
  }

  .snippet {
    color: #616366;
  }

  .answer {
    background-color: rgb(234, 234, 242);
  }

  .weatherBtnActive {
    box-shadow:
      rgb(233, 233, 237) -4px -2px 8px,
      rgba(149, 162, 211, 0.8) 4px 2px 8px;
  }

  .topbg {
    background-color: rgb(234, 234, 242);
  }

  .whiteAblackBg {
    background-color: white;
  }

  .borderWB {
    border: solid black;
  }

  .lightShadow {
    box-shadow: 0 0 10px 0px lightgray;
  }

  #addShortcutBtn {
    background-color: #eee;
  }

  .addShortcut {
    border: solid 10px #f2f4f7;
  }

  .share-icon-border {
    filter: brightness(0) invert(0);
  }

  .quickSet {
    color: #6a6a6a;
    background-color: #f2f4f7;
  }

  .autocom-box {
    background-color: white;
    color: black;
  }

  .peopleAskDiv {
    background-color: #f1f4ff;
  }

  .lds-ellipsis div {
    background-color: black;
  }

  #sidebar {
    background-color: var(--sidebar-bg-color-light);
    color: black;
  }

  .sidebarTitle {
    background-color: #fff;
    color: black;
    box-shadow: 0 5px 5px #ece9e9;
  }

  .setGroup,
  .showtime {
    background-color: white;
  }

  .themeMenu,
  .setBtn {
    background-color: #e9e9ed;
  }

  .bigimgout {
    background-color: var(--sidebar-bg-color-light);
    color: black;
  }

  .setChooseChecked {
    box-shadow:
      -4px -2px 8px #e9e9ed,
      4px 2px 8px rgba(149, 162, 211, 0.8);
  }

  .suggestion:hover {
    background-color: #e2e3ea;
  }

  .active {
    background-color: #e2e3ea;
  }

  .tree-btn p {
    color: #616366;
  }

  .relBtn {
    background-color: #f1f4ff;
    color: black;
  }

  .sectionTitle {
    color: black;
  }

  .tree-container {
    background-color: #fafbff;
  }

  .tree-containerMobile {
    background-color: #fafbff;
  }

  .feedback {
    background-color: #fafbff;
  }

  .imgtoolsOption {
    color: #6a6a6a;
    background-color: #f2f4f7;
  }

  .imgoutlink {
    color: black;
  }

  .findelsewhere button {
    background-color: white;
  }

  .nextPage button {
    background-color: white;
  }

  .videossearch {
    background-color: #f7f8fc;
  }

  .bgStripes {
    background: repeating-linear-gradient(
      315deg,
      #ffffff,
      #ffffff 50px,
      #edeff7 50px,
      #edeff7 100px
    );
  }

  .box-shadow-main {
    box-shadow: inset 0 0 40px 5px #c7c7c7;
  }

  .tosdr td:nth-child(1) {
    background-image: url(../View/img/tosdr_black.svg);
  }

  .landingApple {
    background-image: url(../View/img/priMac.webp);

    @media (max-width: 890px) {
      background-image: url(../View/img/priIp.webp);
    }
  }

  .headerPriEco {
    background-image: url(../View/img/web/tutorials/default/priecoBanner.webp);
  }

  .footer-content-left a {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --linkColor: #8ab4f8;
    --result-bg: #202124;
  }

  html,
  .copyQuery,
  #addShortcutBtn:hover {
    background-color: #181a1b;
    color: white;
  }

  .nofilterImage {
    -webkit-filter: unset !important;
    filter: unset !important;
  }

  .filterImage {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  .white {
    color: white;
  }

  .bgAnswer {
    background-color: var(--result-bg);
  }

  .settingButton,
  .sx-search-sug-link span,
  .sx-kp-tab-content,
  .imgoutlink,
  .socialBtn,
  .rnInp,
  .redirectMe,
  .resTopImgs p {
    color: white;
  }

  .snippet {
    color: #bdc2ca;
  }

  .answer {
    background-color: var(--result-bg);
  }

  .ad {
    filter: brightness(0.2);
  }

  .shortcutElemenet {
    color: white;
  }

  .addShortcut {
    border: solid 10px #181a1b;
  }

  .shortcutEditBtn,
  .calculator button,
  .weatherCsetting {
    color: white;
  }

  .shortcutForm {
    background-color: #181a1b;
    color: white;
  }

  .shortcutForm form input {
    color: white;
    background-color: black;
  }

  .display #screen {
    color: white;
    background-color: #0001;
  }

  .weatherBtnActive {
    box-shadow:
      rgb(42, 44, 45) -4px -2px 8px,
      rgba(0, 0, 0, 0.6) 4px 2px 8px;
  }

  .topbg {
    background-color: var(--result-bg);
  }

  .searchBox {
    background-color: #181a1b;
    color: white;
    border: solid 1px #111;
  }

  .searchButton {
    background-color: #181a1b;
    color: white;
    border: solid 1px #111;
    border-left: none;
  }

  .searchButton img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  .mobileBottomBar {
    background-color: rgba(42, 45, 45, 0.75);
    backdrop-filter: blur(20px);
  }

  .searchButtonMain {
    background-color: #181a1b;
    color: white;
  }

  .searchBoxMain {
    background-color: #181a1b;
    color: white;
  }

  .delQueryBtn {
    filter: brightness(0) invert(1);
  }

  .quickSet {
    background-color: #2a2c2d;
    color: white;
  }

  .menu-btn {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  .share-icon-border {
    filter: brightness(0) invert(0.75);
  }

  .relBtn {
    background-color: var(--result-bg);
    color: white;
  }
  .quickAnswer {
    background-color: var(--result-bg);
  }
  .quickAnswer b {
    background-color: #797e93;
  }
  .setBut {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  .share-container {
    background-color: #2a2c2d;
    color: white;
  }

  #sidebar {
    background-color: #181a1b;
    color: #fbfbfb;
  }

  .setGroup {
    background-color: var(--sidebar-bg-color-dark);
  }

  .sectionTitle {
    color: white;
  }

  .showtime {
    background-color: #353333;
  }

  .close-menu-btn img {
    filter: brightness(0) invert(1);
  }

  .sidebarTitle {
    background-color: var(--sidebar-bg-color-dark);
    color: white;
    box-shadow: 0 0 20px 5px #181a1b;
  }

  .sidebarTitle img {
    filter: brightness(0) invert(1);
  }
  .lyricsMenu {
    background-color: #595b67;
  }
  .bigimgout {
    background-color: var(--sidebar-bg-color-dark);
    color: white;
  }

  .setChooseChecked {
    box-shadow:
      -4px -2px 8px #2a2c2d,
      4px 2px 8px rgba(0, 0, 0, 0.6);
  }

  .autocom-box {
    background-color: #181a1b;
    color: white;
  }

  .suggestion:hover {
    background-color: #222;
  }
  .peopleAskDiv {
    background-color: var(--result-bg);
  }
  .lds-ellipsis div {
    background-color: white;
  }
  .active {
    background-color: #222;
  }

  .suggestion img {
    filter: brightness(0%) invert(100%);
  }

  .tree-btn {
    filter: brightness(0) invert(1);
  }

  .tree-btnMobile {
    filter: brightness(0) invert(1);
  }

  .tree-container {
    background-color: #2a2c2d;
  }

  .tree-containerMobile {
    background-color: #2a2c2d;
  }

  .form-items select,
  .langSave {
    background-color: #2a2c2d;
    color: white;
    border: solid 1px #181a1b;
  }

  .themeMenu {
    background-color: #2a2c2d;
  }

  .feedback,
  .setBtn,
  .fedImp {
    background-color: #2a2c2d;
    color: white;
  }

  .feedbackMenuLabel {
    filter: brightness(0) invert(0.75);
  }

  .feedbackMenuLabelMobile {
    filter: brightness(0) invert(0.75);
  }

  .imgtoolsOption,
  .whiteAblackBg {
    background-color: #2a2c2d;
    color: white;
  }

  .borderWB {
    border: solid white;
  }

  .relImg {
    opacity: 0.5;
  }

  .icnSet {
    filter: brightness(0) invert(1);
  }

  .findelsewhere button {
    background-color: #2a2c2d;
    color: white;
  }

  #map {
    filter: brightness(0.7);
  }
  .resOptionsGroup:hover,
  .resOptions:hover ~ .resOptionsGroup {
    opacity: 1;
    display: flex;
    background-color: var(--result-bg);
    border-radius: 10px;
  }
  .nextPage button {
    background-color: #2a2c2d;
    color: white;
  }

  .videossearch {
    background-color: var(--result-bg);
  }

  .sx-overflow-gradient {
    display: none;
  }

  .bgStripes {
    background: repeating-linear-gradient(
      315deg,
      #000,
      #000 50px,
      #181a1b 50px,
      #181a1b 100px
    );
  }

  .box-shadow-main {
    box-shadow: inset 0 0 40px 5px #181a1b;
  }

  .landingApple {
    background-image: url(../View/img/priMacBlack.webp);

    @media (max-width: 890px) {
      background-image: url(../View/img/priIpBlack.webp);
    }
  }

  .headerPriEco {
    background-image: url(../View/img/web/tutorials/default/priecoBannerBlack.webp);
  }

  .footer-content-right div {
    background-color: #373737;
  }

  .footer-content-left a {
    background-color: #373737;
  }

  .footer-content-left img {
    filter: invert(1);
  }

  .comparison-table th:nth-child(2n),
  .comparison-table td:nth-child(2n) {
    background: #373737;
  }
  .tosdr td:nth-child(1) {
    background-image: url(../View/img/tosdr_white.svg);
  }
  .question {
    background: #373737;
  }
}
