.headerDefault {
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 40px 40px;
}

.headerIndex {
  background-image: url(../View/img/web/1.webp);
  box-shadow: 0 50px 100px #082508;
}

.headerChangelog {
  background-image: url(../View/img/web/changelog.webp);
  box-shadow: 0 50px 100px #40331c;
}

.headerChrome {
  background-image: url(../View/img/web/tutorials/default/chrome/chromeBanner.webp);
  box-shadow: 0 50px 100px pink;
}

.headerFirefox {
  background-image: url(../View/img/web/tutorials/default/firefox/firefoxBanner.webp);
  box-shadow: 0 50px 100px #35226aa6;
}

.defaultTitle {
  position: relative;
  left: 7px;
}

.defaultTitle::before {
  content: "";
  right: -4px;
  top: 0;
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--topColor);
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.ppTop::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(135deg, rgb(134, 228, 235), var(--topColor), rgb(0, 246, 86));
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
}
.ppTop {
  width: 100vw;
  height: 50vh;
  min-height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.privacypolicy {
  width: 80ch;
  font-size: 20px;
}

.privacypolicy p {
  padding: 10px 0 10px 0;
}