.bg_search_bar {
    background: radial-gradient(circle, #1a3531 0%, transparent 70%);
}
.search_button,
.search_box,
.suggestions_container,
.shortcutForm,
.shortcutElemenet img,
#addShortcutBtn {
    background: #181a1b;
    color: #fff;
}
.search_button img,
.btn_del_query img,
.open-settings-btn img {
    filter: brightness(0) invert(1);
}

.suggestion_item.active,
.suggestion_item:hover {
    background: #202124;
}

.shortcutEditBtn,
.calculator button,
.weatherCsetting,
.sh_txt {
    color: #fff;
}

.addShortcut {
    border: solid 10px #181a1b;
}

.shortcutForm form input {
    color: #fff;
    background-color: #000;
}
