[attr]rust text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4
[attr]lfs filter=lfs diff=lfs merge=lfs -text

* text=auto eol=lf

*.bin      lfs
*.png      lfs
*.rkyv     lfs
*.onnx     lfs
*.txt      lfs
*.jpg      lfs
*.mp4      lfs

*.ico      binary
*.mmdb     binary
*.webp     binary
*.woff*    binary

*.rs       rust diff=rust
*.json     linguist-detectable
*.jsonc    linguist-language=JSON
*.toml     linguist-detectable
*.xml      linguist-detectable
*.yaml     linguist-detectable
*.yml      linguist-language=YAML
.git*      linguist-language=Shell
Cargo.lock linguist-language=TOML linguist-generated
/vendor/** linguist-vendored
