.placeholder {
  background: #202124;
}
.output_text,
.yadore_title {
  color: #bdc2ca;
}
.output_text h3 {
  color: #8ab4f8;
}
.sx-kp,
.sx-kp-tab,
.sx-album-info-title {
  background: #202124 !important;
  color: #bdc2ca !important;
}
.sx-kp-heading,
.sx-title,
.products,
.yadore_price,
.sx-kp-attributions a {
  color: #fff !important;
}
.products img {
  filter: brightness(0) invert(1);
}
