.div_search_bar,
.footer-content-left a {
  background: #202124;
}
.search_button,
.search_box {
  background: #181a1b;
  color: #fff;
  border: solid 1px #111;
  box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
}
.type_btns button p {
  color: #fff;
}
.search_button img,
.type_btns button img,
.btn_del_query img,
.open-settings-btn img {
  filter: brightness(0) invert(1);
}
