.div_search_bar,
.footer-content-left a,
.suggestion_item.active,
.suggestion_item:hover {
    background: #202124;
}
.search_button,
.search_box,
.suggestions_container {
    background: #181a1b;
    color: #fff;
}
.type_btns button p {
    color: #fff;
}
.search_button img,
.type_btns button img,
.btn_del_query img,
.open-settings-btn img {
    filter: brightness(0) invert(1);
}
.donate_box {
    background:
        linear-gradient(#181a1b, #181a1b) padding-box,
        linear-gradient(#03d781, #3edce2) border-box;
}
.donate_box,
#money:checked ~ .menu label[for="money"],
#crypto:checked ~ .menu label[for="crypto"] {
    color: #fff;
}
.option,
.copy_btn {
    background: #202124;
    color: #fff;
}
