.placeholder {
  background: #eaeaf2;
}
.output_text {
  color: #474747;
}
.output_text h3 {
  color: #1a0dab;
}
.sx-kp,
.sx-kp-tab,
.sx-kp-tab {
  background: #eaeaf2 !important;
}
.yadore_title,
.yadore_price {
  color: #1f1f1f;
}
