.placeholder {
    background: #eaeaf2;
}

.output_text {
    color: #474747;
}

.output_text h3,
.spell_check a,
.qt_menu a {
    color: #1a0dab;
}

.sx-kp,
.sx-kp-tab,
.sx-kp-tab {
    background: #eaeaf2 !important;
}

.yadore_title,
.yadore_price,
.qt_domain {
    color: #1f1f1f;
}

[data-sxpr-top-bar] .sx-search-suggestions,
.sx-ta-places {
    background-color: #eaeaf2;
}

.qt_menu {
    background-color: #f2f4f7;
}
.qt_menu p {
    color: #353333;
}
.res_opt_menu {
    background: #ffffff;
    border: 1px solid #eaeaea;
}
