<div class="redditCon output" id="colorOutput">
    <div class="flexSpaceWrapRow">
        <div>
            <div id="color-indicator"></div>
            <div id="color-picker"></div>
        </div>
        <div>
            <div class="setChooseChecked col output">
                <p class="colTit">Hex</p>
                <p id="color-hex">#ffffff</p>
            </div>
            <div class="setChooseChecked col output">
                <p class="colTit">RGB</p>
                <p id="color-rgba">255, 255, 255</p>
            </div>
            <div class="setChooseChecked col output">
                <p class="colTit">HSL</p>
                <p id="color-hsl">0, 0%, 100%</p>
            </div>
        </div>
    </div>
</div>

<script src="View/js/color.js"></script>